<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="KeycloakAPI">
			<section name="Urls" type="System.Configuration.NameValueSectionHandler"/>
			<section name="AccessTokenPostParams" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	<KeycloakAPI>
		<Urls>
			<add key="baseUrl" value="http://localhost:8080/admin/realms/test/"/>
			<add key="RequestURLAccessToken" value="http://localhost:8080/realms/test/protocol/openid-connect/token"/>
			<add key="gr" value="http://localhost:8080/realms/test/protocol/openid-connect/token"/>
		</Urls>
		<AccessTokenPostParams>
			<add key="username" value="ulrich"/>
			<add key="password" value="notebook1!"/>
			<add key="client_id" value="test"/>
			<add key="client_secret" value="CIuIy04xV187R7iYeBey5xquTO74q03E"/>
			<add key="grant_type" value="password"/>
			<add key="scope" value="openid"/>
		</AccessTokenPostParams>
	</KeycloakAPI>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>